{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Un petit marché pas trop dispendu lo !</h3>
    </div>
{% endblock %}