{% extends 'base.html.twig' %}

{% block title %}Détails de l'article{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Un petit marché pas trop dispendu lo !</h3>
    </div>

    <div class="container">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">Fiche produit</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="img-fluid" src="https://vignette.wikia.nocookie.net/playminecraft/images/5/54/Diamond_Pickaxe.png/revision/latest?cb=20140921132313" alt="demonstration">
                        </div>
                        <div class="col-sm-6">
                            <h3 class="font-weight-bold">{{ product.title }}</h3>
                            <p>Par : <b class="text-primary">vendeur</b></p>
                            <p class="text-primary"></p>
                            <p class="font-weight-bold mt-5">Description : </p>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="text-primary text-center">{{ product.price }} $</h3>
                            <input class="btn btn-primary float-right" type="submit" value="Ajouter au panier" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}